<template>
  <div class="w-3/4 m-auto bg-black p-4 color text-white mb-10 mt-10 bg-opacity-30 radius">
    <h2 class="text-2xl text-center">{{ entry.category }} - {{ entry.date.toLocaleString() }}</h2>
    <h3 class="text-xl">Data</h3>
    <div class="m-5 mb-3" >
      <pre class="m-2 mb-3"><code class="language- javascript">{{ JSON.stringify(entry.data, null, 1) }}</code></pre>
    </div>
    <h3 class="text-xl">Stack Trace</h3>
    <button type="button" @click="showStackTrace = !showStackTrace" class="bg-black bg-opacity-20 p-2 ml-1.5 border-2 border-gray-500 rounded-md">Toggle stack trace display</button>
    <div class="m-5 mb-3" v-if="showStackTrace">
      <pre class="m-2 mb-3"><code class="language- javascript">{{ JSON.stringify(entry.stacktrace, null, 1) }}</code></pre>
    </div>
  </div>
</template>
<script lang="ts">
import prismjs from 'prismjs';
import { Options, Vue } from 'vue-class-component';
import { Entry } from '@/types';
import 'prismjs/themes/prism-twilight.css';

import 'prismjs/components/prism-javascript';

@Options({
  props: {
    entry: Object,
  },
  data() {
    return {
      showStackTrace: false,
    };
  },
  mounted() {
    prismjs.highlightAll();
  },

})
export default class HelloWorld extends Vue {
  entry!: Entry
}
</script>
