<template>
  <div class="text-center p-2">
  <input type="text" v-model="filterText" class="w-3/4 m-auto bg-black text-white p-2 bg-opacity-30" placeholder="Filter by type"/>
  </div>
  <EntryDisplay :entry="entry" v-for="(entry, key) in sortedAndFiltered" :key="key"/>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import { Entry, RawEntry } from '@/types';
import axios from 'redaxios';
import { io } from 'socket.io-client';
import EntryDisplay from './components/EntryDisplay.vue';

@Options({
  components: {
    EntryDisplay,
  },
  computed: {
    sortedAndFiltered(): Array<Entry> {
      return this.entries
        .filter((a: Entry) => a.category.toLowerCase().includes(this.filterText.toLowerCase()))
        .sort((b: Entry, a: Entry) => (a.date as any) - (b.date as any));
    },
  },
  async mounted() {
    const { data } = await axios.get('/data');
    const socket = io();
    this.entries = data.data.map((a: RawEntry) => ({ ...a, date: new Date(a.date) }));
    socket.on('newEntry', (entry: RawEntry) => this.entries.push({ ...entry, date: new Date(entry.date) }));
  },
  data() {
    const entries: Array<Entry> = [
    ];
    return {
      entries,
      filterText: '',
    };
  },
})
export default class App extends Vue {}
</script>
<style>
body {
  background-color: #222;
}
</style>
